@import '@styles/variables';

#sidebar {
  h2 {
    margin-bottom: 0;
  }

  .global {
    text-decoration: underline;
  }
}

#videos {
  #count {
    color: blue;
  }

  .video {
    margin: 5px;

    width: $thumbnailWidth + px;
    img {
      height: $thumbnailHeight + px;
    }

    .title {
      padding: 0 2px;
      align-items: center;
      height: 24px * 3;
    }
  }
}
