@import "functions";

/* Navigation */
@import "navigation";

/* Stars */
#stars {
  text-align: center
}

.star {
  display: inline-block;
  margin: 0 5px 10px;

  border: 3px solid transparent;

  .name {
    display: block;
    text-align: center;
  }
}

.star.no-image .image, div.image {
  background-color: #C4C4C4;
}

.star .image, .star-image {
  max-height: 275px;
  max-width: 200px;
}

.card.star {
  max-width: 200px;

  .card-img-top {
    max-height: 275px;
  }
}

/* Star */
#star {
  & > img,
  & > #dropbox {
    width: 200px;
  }

  #next {
    position: absolute;
    left: 25%;
    margin-top: 100px;
  }
}

/* Category */
#categories {
  margin-bottom: 20px;
}

.category {
  display: block;
  width: 90px;
}

a.video {
  text-decoration: none !important;
  color: black;
}

.video {
  span {
    text-align: center;
  }

  .info, .title {
    display: block;
  }

  .info {
    .wsite {
      color: green;
    }
    .site {
      color: red;
    }
  }

  .divider {
    &::before, &::after {
      content: ' ';
    }
  }

  img, video {
    display: block;
    /*height: $thumbnailHeight + px;*/
    width: $thumbnailWidth + px;
  }
}

/* Form */
form {
  margin-bottom: 7px
}

label {
  margin-right: 5px;

  &[for="eye"], &[for="hair"] {
    font-weight: bold
  }
}

/* Dialog */
@import "dialog";

/* Dropbox */
#dropbox {
  width: 275px;
  height: 275px;
  border: 2px dashed red;
  text-align: center;

  & > span {
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Ribbon */
@import "ribbon";

/* Other */
.location, .attribute {
  display: inline-block;
}

h3 {
  margin-bottom: 0
}

.btn {
  margin: 5px;
  cursor: default !important;
}

.active {
  border-color: black
}

.selected {
  border-color: green
}

.bookmark-info, .star-info {
  display: none;
  position: fixed;

  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  background-color: #eeeeee;
}

.bookmark-info.active {
  display: block;
  z-index: 1;
}

.star-info {
  min-width: 300px;

  .btn {
    display: inline-block;
  }
}

.hidden {
  display: none;
}

.inline {
  display: inline-block;

  &:nth-of-type(2n) {
    margin-left: 1%;
  }
}

small {
  margin-left: 10px;

  &.attributes {
    color: blue;
  }

  &.locations {
    color: purple;
  }
}

input.xdsoft_input {
  text-transform: capitalize;
  &[name="breast"] {
    text-transform: uppercase;
  }
}

.no-match {
  display: none;
}

.search {
  display: inline-block;
  width: 100%;
  text-align: center;

  .inner {
    display: inherit;
    padding: 2px 4px;
    &:not(:empty) {
      background-color: orange;
    }
  }
}

.invisible-submit {
  position: absolute;
  left: -99999px;
}

.symbol {
  display: none;
  position: absolute;
  z-index: 10;

  @include center(54%, 50%);

  background-color: #858585;
  border-radius: 30px;
  padding: 0 10px;
}

.flag {
  margin-bottom: -7px;
}

[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: 5px;
  left: 5px;
  background: green;
  color: white;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;

  @include circle(23px, 30px);
}

/* Video Count */
@for $i from 1 through 6 {
  h#{$i} .count {
    color: green;
  }
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*.progress-bookmarks {
  position: absolute;
  width: 100%;
  border: 1px solid red;
  left: 0;
  top: 0;

  [data-start]{
    border: 1px solid blue;
  }
}*/