@import "functions";

aside {
  border: 1px solid red;

  #similar {
    text-align: center;

    a.similar-star {
      display: inline-block;
      width: 200px;

      margin: 10px;
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: underline;
      }

      img {
        width: inherit;
      }
    }
  }
}

.video {
  margin: 0 5px 10px;
}

.ignored {
  color: red;
  & + small .alias {
    color: red;
  }
}

.flag {
  margin-left: 10px;
}

// TODO remove unused code