@import "functions";

section {
  width: 75%;
  float: left;
}

aside {
  width: 25%;
  margin-top: 3.5%;

  margin-left: auto;
  margin-right: auto;

  float: right;

  #stars {
    margin-top: 10px;
  }

  .star img {
    width: 100%;
  }

  #up-next {
    display: block;
    height: 75px;

    margin: 0 15%;
    padding: 5px 10px;

    background-color: grey;
    text-decoration: none;

    border-radius: 4px;
  }

  #up-next * {
    color: white;
  }

  #up-next:hover {
    background-color: darkgrey;
  }

  #up-next > div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

#video {
  & > h2,
  & > h3 {
    display: block;
    width: 90%;
    float: left;

    margin: 0;
  }

  & > h3 {
    font-size: medium;
    color: green;
    margin-bottom: 1%;
    margin-top: 1px;
  }

  & > #next {
    float: right;
    margin-top: -1.5%;
  }
}

/* Video Details */
#videoDetails {
  margin-top: 5px
}

/* Timeline */
#timeline {
  position: relative;
  left: 130px;
  margin-right: 17.2%;

  .bookmark {
    position: absolute;
    white-space: nowrap;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
    padding-right: 10px;
  }

  @include bookmarkPosition();
}

form[autocomplete] {
  display: inline-block;
  opacity: .15;
  transition: .5s;

  &:hover, &.active {
    opacity: 1;
  }
}

.btn {
  border: 1px solid dodgerblue;
  border-radius: 20px;

  color: black;
  text-decoration: none;
  text-align: center;

  padding: 4px 15px;
  margin: 5px;

  cursor: default;
  transition-duration: 200ms;

  background-color: white;

  &.location {
    border-color: $btnLocationColor;

    &:not(.no-hover):hover, &:not(.no-hover):focus {
      background-color: $btnLocationColor;
    }
  }

  &[disabled], &-cancel {
    border-color: grey;

    &:not(.no-hover):hover, &:not(.no-hover):focus {
      color: white !important;
      background-color: grey !important;
    }
  }


  &:not(.no-hover):hover, &:not(.no-hover):focus {
    color: white;
    background-color: dodgerblue;
  }

  &[disabled]:not(.no-hover):hover, &[disabled]:not(.no-hover):focus {
    color: white;
    background-color: grey;
  }
}

/* FIXES */
@import 'plyr';

#chapter-container {
  width: 101%;
  margin-left: -8px;

  position: absolute;
  top: 0;

  height: 100%;

  .chapter {
    position: absolute;

    height: 100%;
    width: 6px; // TODO set in JavaScript

    background-color: red;
    z-index: 10;
  }
}

// TODO remove unused code