@import "variables";

section {
  width: 75%;
  float: left;
}

aside {
  width: 25%;
  margin-top: 3.5%;

  margin-left: auto;
  margin-right: auto;

  float: right;
}

#video > h2 {
  display: block;
  width: 90%;
  float: left;
}

#video > #next {
  float: right;
  margin-top: 1.5%;
}

video {
  width: inherit;
  float: left;
}

/* Video Details */
#videoDetails {
  margin-top: 5px
}

/* Timeline */
@mixin bookmarkPosition() {
  $levelSelector: 1;
  $margin: 0;
  $margin-offset: 35;

  @for $i from 1 through $totalBookmarkRows {
    $margin: ($levelSelector - 1) * $margin-offset;

    .bookmark[data-level="#{$i}"] {
      margin-top: $margin + px;
    }

    $levelSelector: $levelSelector+1;
    @if $levelSelector > $bookmarkRows {
      $levelSelector: 1;
    }
  }
}

#timeline {
  position: relative;
  left: 135px;
  margin-right: 9.5%;

  .bookmark {
    position: absolute;
    white-space: nowrap;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 5px;
    padding-right: 10px;
  }

  @include bookmarkPosition();
}

/* Sidebar */
aside #franchise {
  margin-bottom: 3%;
}

/* Sidebar */
aside #stars {
  margin-top: 10px;
}

aside .star {
  width: 29%;
  vertical-align: top;
}

aside .star img {
  width: 100%;
}

#up-next, .episode {
  display: block;
  height: 75px;

  margin: 0 1%;
  padding: 5px 10px;

  background-color: grey;
  text-decoration: none;

  border-radius: 4px;
}

#up-next *, .episode * {
  color: white;
}

.episode {
  margin-top: 10px;
}

#up-next:hover, .episode:hover {
  background-color: darkgrey;
}

#up-next > div, .episode .title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#franchise .info {
  height: inherit;
}

#franchise .info > .title {
  margin-left: 140px;
}

#franchise .info > img.thumbnail {
  height: inherit;
  float: left;
}

#video-attributes {
  text-align: center;
}

.video-attribute {
  display: inline-block;
  margin-left: 5px;
}

form[autocomplete] {
  opacity: 0.15;
  transition: 0.5s;
  display: inline-block;

  &:hover, &.active {
    opacity: 1;
  }
}

/* FIXES */
.plyr--video.plyr--menu-open {
  overflow: hidden;
}

.plyr__time {
  margin-left: 0 !important;
  width: 85px;
}