# dependencies
/node_modules

# editor
.vscode/

# next.js
/.next/
/out/
/public

# production
/build

# debug
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo
#next-env.d.ts
