@import '../styles/functions';
#star-page {
    aside {
        #similar {
            text-align: center;

            a.similar-star {
                display: inline-block;
                width: 200px;

                margin: 10px;
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }

                img {
                    width: inherit;
                }
            }
        }
    }

    #star {
        #dropbox {
            width: 200px;
            height: 275px;
            border: 2px dashed rgba(255, 0, 0, 0.3);

            &.hover {
                border-color: rgba(255, 0, 0, 1);
            }

            .label {
                position: relative;
                text-align: center;
                top: 50%;
            }
        }

        h2.ignored {
            color: red;
        }

        .action {
            .btn {
                margin-right: 10px;

                margin-bottom: 10px;
            }
        }

        label {
            margin-right: 9px;

            &.bold {
                font-weight: 600;
                margin-right: 7px;
            }
        }

        input {
            text-transform: capitalize;
        }

        .flag {
            margin-left: 5px;
            margin-bottom: -5px;
        }
    }

    .video {
        margin: 0 10px 10px 5px;
        width: $thumbnailWidth + px;

        span {
            text-align: center;
        }
    }
}
