#editor-page {
    table {
        $theadColor: darkgrey;

        thead {
            background-color: $theadColor;

            th {
                position: sticky;
                top: 0;
                z-index: 1;
                background-color: $theadColor;
            }
        }

        th {
            cursor: default;
        }

        td {
            position: relative;
            height: 0;

            input[type='text'] {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                border: none;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }
}
