#sidebar {
  h2 {
    margin-bottom: 0;
  }

  .global {
    text-decoration: underline;
  }
}

#videos {
  #count {
    color: blue;
  }

  .video {
    margin: 5px;

    min-width: var(--thumb-width);
    width: min-content;
    img {
      height: auto;
    }

    .title {
      padding: 0 2px;
      align-items: center;
      height: 24px * 3;
    }
  }
}
