#navbar {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  background-color: green;

  ul {
    margin: 0;
    padding: 0;
    display: flex;

    li {
      list-style-type: none;
      position: relative;

      &:hover {
        background-color: forestgreen;

        .sub {
          display: block;
        }
      }

      a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 12px;
      }

      .sub {
        display: none;
        position: absolute;
        background-color: green;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;

        li {
          padding: 0 8px;
        }
      }
    }
  }
}
