@import '_util.css';

:root {
  /* Star Image */
  --star-width: 200px;
  --star-height: 275px;

  --thumb-width: 290px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.divider {
  color: grey;

  &::before,
  &::after {
    content: ' ';
  }
}

.unselectable,
label {
  user-select: none;
  outline: none;
}

button {
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  cursor: default !important;
}
