@import 'variables';

@mixin center($x, $y) {
	left: $x;
	top: $y;
	transform: translate($x * -1, $y * -1);
}

@mixin circle($sizeY, $sizeX: $sizeY) {
	width: $sizeX;
	height: $sizeY;
	line-height: $sizeY;
}

//DEPRECATED This is an unused method, and will be removed at some time
@mixin bookmarkPosition_legacy() {
	$levelSelector: 1;
	$margin: 0;
	$margin-offset: 35;

	@for $i from 1 through $bookmarkCols {
		$margin: ($levelSelector - 1) * $margin-offset;
		&[data-level='#{$i}'] {
			margin-top: $margin + px;
		}

		$levelSelector: $levelSelector + 1;
	}
}

@mixin bookmarkPosition() {
	$levelSelector: 1;
	$margin: 0;
	$margin-offset: 35;

	@for $i from 1 through ($bookmarkRows * $bookmarkCols) {
		$modLevelSelector: (($levelSelector - 1) % $bookmarkCols);
		$margin: ($modLevelSelector) * $margin-offset;
		&[data-level='#{$i}'] {
			margin-top: $margin + px;
		}

		$levelSelector: $levelSelector + 1;
	}
}
