.text-center {
	text-align: center;
}

.img-thumbnail {
	width: 100%;
	padding: 0.25rem;
	border: 1px solid #dee2e6;
	border-radius: 0.25rem;
}

.border {
	border: 1px solid red;
}

.d {
	&-none {
		display: none;
	}
	&-inline-block {
		display: inline-block;
	}
}

.float {
	&-left {
		float: left;
	}

	&-right {
		float: right;
	}
}

.m {
	&-0 {
		margin: 0 !important;
	}

	&l-0 {
		margin-left: 0 !important;
	}

	&r-0 {
		margin-right: 0 !important;
	}

	&x-1 {
		margin-left: 0.5em !important;
		margin-right: 0.5em !important;
	}
}

.p {
	&t-0 {
		padding-top: 0 !important;
	}

	&b-0 {
		padding-bottom: 0 !important;
	}
}
