// Bookmarks
$bookmarkRows: 12; // number of rows of bookmarks
$navElementsRight: 2;

// Video Thumbnails
$aspectRatio: (16/9);
$thumbnailWidth: 290;
$thumbnailHeight: ($thumbnailWidth / $aspectRatio);

// Star Image
$starWidth: 200;
$starHeight: 275;

$spinnerBlue: #3498db;
