$initialHeight: 88vh;

// Bookmarks
$bookmarkCols: 4; // max column size
$bookmarkRows: 3; // max adjacent rows
$bookmarkSpacing: 36px; // vertical bookmark spacing

// Video Thumbnails
$thumbnailWidth: 290px;
$thumbnailHeight: $thumbnailWidth / (16/9);

// Star Image
$starWidth: 200px;
$starHeight: 275px;
