@import 'context-menu';
@import 'ribbon';
@import 'material-ui';
@import 'util';
@import '@styles/variables';

.plyr {
	max-height: $maxPlayerHeight;

	.plyr__progress {
		.plyr__progress__buffer {
			color: rgb(162, 0, 255);
		}

		input[data-plyr='seek'] {
			color: rgb(0, 200, 0);
		}
	}
}

$fontFamily: 'Roboto', sans-serif;

body {
	font-family: $fontFamily;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-weight: 500;
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}
}

.divider {
	color: grey;

	&::before,
	&::after {
		content: ' ';
	}
}

.info,
.header__site {
	.wsite {
		color: green;
	}

	.site {
		color: red;
	}
}

.video {
	text-decoration: none !important;
	color: black !important;

	&__title {
		text-align: center;
	}
}

.unselectable,
label,
.react-contextmenu-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

a {
	text-decoration: none !important;
}

.card {
	&__title {
		padding: 0 2px;

		&--fixed-height {
			display: flex;
			align-items: center;

			&.height-1 {
				height: 24px;
			}

			&.height-2 {
				height: 24px * 2;
			}

			&.height-3 {
				height: 24px * 3;
			}

			&.height-4 {
				height: 24px * 4;
			}
		}
	}
}

.table-striped {
	tbody tr:nth-of-type(odd) {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
