.video {
	text-decoration: none !important;
	color: black !important;

	.thumb {
		width: 100%;
		padding: 0.25rem;
		border: 1px solid #dee2e6;
		border-radius: 0.25rem;
	}

	.title {
		text-align: center;
	}
}
