#modal {
    position: absolute;
    left: 40%;
    top: 0;

    .card-header {
        padding-bottom: 0;

        .query {
            display: inline-block;
            padding: 0 3px;
        }
    }

    .card-body {
        padding: 10px;

        .content {
            .btn {
                margin-bottom: 3px;
                font-size: 1em;

                padding: 3px 10px;
            }
        }

        input {
            width: 100%;
            text-align: center;
        }
    }

    .actions {
        margin-top: 10px;
        text-align: center;
    }
}
