#modal {
	position: absolute;
	left: 40%;
	top: 0;

	&__header {
		padding: 6px 10px;
		background-color: lightgrey;
		text-align: center;

		.label {
			margin-bottom: 5px;
		}

		.query {
			display: inline-block;
			padding: 0 3px;
			background-color: orange;
		}
	}

	&__body {
		padding: 10px;

		.content {
			button {
				margin-bottom: 3px;
				font-size: 1em;

				padding: 3px 10px;

				width: 100%;
				display: block;
			}
		}

		input {
			width: 100%;
			text-align: center;
		}
	}

	.actions {
		margin-top: 20px;
		text-align: center;
	}
}
