#modal {
    position: absolute;
    left: 40%;

    .card-header {
        padding-bottom: 0;
    }

    .card-body {
        padding: 10px;

        .content {
            .btn {
                margin-bottom: 3px;
                font-size: 1em;

                padding: 3px 10px;
            }
        }

        input {
            width: 100%;
            text-align: center;
        }
    }

    .actions {
        margin-top: 10px;
        text-align: center;
    }
}
