@import 'variables';

@mixin center($x, $y) {
    left: $x;
    top: $y;
    transform: translate($x * -1, $y * -1);
}

@mixin circle($sizeY, $sizeX: $sizeY) {
    width: $sizeX;
    height: $sizeY;
    line-height: $sizeY;
}

@mixin bookmarkPosition() {
    $levelSelector: 1;
    $margin: 0;
    $margin-offset: 35;

    @for $i from 1 through $bookmarkRows {
        $margin: ($levelSelector - 1) * $margin-offset;
        &[data-level='#{$i}'] {
            margin-top: $margin + px;
        }

        $levelSelector: $levelSelector + 1;
    }
}
