@import 'context-menu';
@import 'ribbon';
@import 'material-ui';
@import 'util';

body {
	font-family: 'Roboto', sans-serif;
}

@for $i from 1 through 6 {
	h#{$i} {
		font-weight: 500;
		margin-top: 0.3em;
		margin-bottom: 0.3em;
	}
}

.divider {
	color: grey;

	&::before,
	&::after {
		content: ' ';
	}
}

.info,
.header__site {
	.wsite {
		color: green;
	}

	.site {
		color: red;
	}
}

.video {
	text-decoration: none !important;
	color: black !important;

	&__title {
		text-align: center;
	}
}

.unselectable,
label,
.react-contextmenu-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

a {
	text-decoration: none !important;
}

.table-striped {
	tbody tr:nth-of-type(odd) {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
