@import 'functions';

/* Context Menu */
@import 'context-menu';

/* Ribbon */
@import 'ribbon';

/* Star */
.star {
    &__image {
        max-height: 275px;
        max-width: 200px;
    }
}

.video {
    text-decoration: none !important;
    color: black;

    &__title {
        text-align: center;
    }
}

.btn {
    cursor: default;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: 'Roboto', sans-serif;
    }
}

.divider {
    color: grey;

    &:before,
    &:after {
        content: ' ';
    }
}

.count {
    color: green;
}
