#modal {
  position: absolute;
  left: 40%;

  .card-body {
    .btn {
      margin-bottom: 1px;
    }

    .card-title {
      border-bottom: 1px solid lightgrey;
    }
  }

  .actions {
    margin-top: 5px;
    text-align: center;
  }
}
