.star-page {
    aside {
        #relations {
            text-align: center;

            a.relation {
                display: inline-block;
                width: 200;

                margin: 10px;
                text-decoration: none;
                color: inherit;

                &:hover {
                    text-decoration: underline;
                }

                img {
                    width: inherit;
                }
            }
        }
    }

    #star {
        .action {
            .btn {
                margin-right: 10px;

                margin-bottom: 10px;
            }
        }

        label {
            margin-right: 5px;
        }
    }

    .video {
        margin: 0 5px 10px;
        width: 290px;
    }
}
