.container {
  position: relative;
  overflow: hidden;

  .ribbon {
    background: red;
    color: white;
    padding: 7px 0;
    position: absolute;
    top: 0;
    right: 0;

    translate: 30%;
    rotate: 45deg;
    transform-origin: top left;

    font-weight: bold;
    font-size: 0.9em;
    min-width: 20px;
    text-align: center;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      margin: 0 -1px; // tweak
      width: 300%;
      height: 100%;

      background-color: inherit;
    }

    &:before {
      right: 100%;
    }

    &:after {
      left: 100%;
    }

    &.left {
      left: -20px;
      right: auto;

      rotate: -45deg;
      transform-origin: top right;
    }

    &.purple {
      background-color: purple;
    }
  }
}
