$spacing: 5px;

#header {
  margin-bottom: 15px;

  button {
    &:not([disabled]) {
      color: black;
    }

    &.location,
    &.attribute {
      &:hover {
        text-decoration: line-through;
      }
    }

    margin-left: 15px;

    svg {
      margin-right: $spacing !important;
    }
  }
}

.select-slug {
  max-height: 275px;
  max-width: 275px;
  object-fit: inherit;
}

#site {
  color: green;
  font-weight: 700;

  #wsite {
    color: red;
  }
}
