$spacing: 5px;

#header {
  margin-bottom: 15px;

  button {
    &:not([disabled]) {
      color: black;
    }

    margin-left: 15px;

    svg {
      margin-right: $spacing !important;
    }
  }
}

#site {
  color: green;
  font-weight: 700;

  #wsite {
    color: red;
  }
}
