.video {
  text-decoration: none !important;
  color: black !important;

  .thumb {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem !important;
  }

  .title {
    text-align: center;

    /* restrict to 3 lines */
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
