@import '../styles/functions';

#search-page {
	h2 {
		margin-bottom: 0;
	}

	.star,
	.video {
		margin: 5px;
	}

	.video {
		width: $thumbnailWidth + px;

		img {
			height: $thumbnailHeight + px;
		}
	}

	.star {
		width: $starWidth + px;

		img {
			height: $starHeight + px;
		}
	}

	.flag {
		margin-right: 5px;
	}

	.count {
		color: blue;
	}

	.global-category {
		text-decoration: underline;
	}
}
