#similar {
  text-align: center;

  .star {
    display: inline-block;
    width: 200px;

    margin: 10px;

    &:hover {
      text-decoration: underline !important;
    }
  }
}

// When changing images
.profile {
  max-height: var(--star-height);
  width: var(--star-width) !important;
  object-fit: inherit !important;
}

#star {
  #profile {
    max-height: var(--star-height);
    width: var(--star-width);
  }

  #ignored {
    color: red;
  }

  .action {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .no-error {
    color: rgba(black, 0.6);
  }

  .error label {
    font-weight: bold;
    color: black;
  }

  input {
    text-transform: capitalize;
  }

  .capitalize input {
    text-transform: uppercase;
  }

  .data {
    margin-right: 0.5em;
  }
}

.video {
  margin: 0 10px 10px 5px !important;
  width: var(--thumb-width);

  &.hidden {
    opacity: 0.2;
  }

  .info {
    padding: 2px 8px;
  }

  .site-info {
    text-align: center;
    margin-top: 10px;

    .wsite {
      color: green;
    }

    .site {
      color: red;
    }
  }
}
