// Bookmarks
$bookmarkCols: 11; // max column size
$bookmarkRows: 2; // max adjacent rows
$bookmarkSpacing: 36; // vertical bookmark spacing

// Video Thumbnails
$thumbnailWidth: 290;
$thumbnailHeight: $thumbnailWidth / (16/9);

// Star Image
$starWidth: 200;
$starHeight: 275;
