@import 'context-menu';
@import 'material-ui';
@import 'util';
@import 'variables';

.plyr {
  max-height: calc(#{$initialHeight} - (#{$bookmarkSpacing}px * #{$bookmarkCols}));

  .plyr__progress {
    .plyr__progress__buffer {
      color: rgb(162, 0, 255);
    }

    input[data-plyr='seek'] {
      color: rgb(0, 200, 0);
    }
  }
}

body {
  font-family: Roboto, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

.divider {
  color: grey;

  &::before,
  &::after {
    content: ' ';
  }
}

.unselectable,
label,
.react-contextmenu-item {
  user-select: none;
  outline: none;
}

button {
  font-weight: 400 !important;
  font-size: 0.9rem !important;
  cursor: default !important;
}
