@import '@styles/functions';

#video-page {
	#header {
		margin-bottom: 15px;

		&__title {
			vertical-align: middle;
		}

		&__title,
		&__locations,
		&__attributes {
			display: inline-block;
		}

		&__site {
			color: green;
			font-weight: 700;
			.wsite {
				color: red;
			}
		}

		&__next {
			margin-top: 0.6em;
			float: right;
		}

		button {
			margin-left: 15px;
			color: black;

			i,
			svg {
				margin-right: 5px !important;
			}
		}
	}

	#timeline {
		position: relative;
		left: 95px;
		margin-top: 5px;

		.bookmark {
			position: absolute;
			white-space: nowrap;

			@include bookmarkPosition();
		}
	}

	#sidebar {
		margin-top: 5.45em;

		#stars {
			text-align: center;

			.star {
				margin: 0 auto;
				width: 70%;
			}
		}
	}
}
