#sidebar {
  h2 {
    margin-bottom: 0;
  }

  .global {
    text-decoration: underline;
  }
}

#stars {
  #count {
    color: blue;
  }

  .star {
    margin: 5px;

    width: var(--star-width);
    img {
      height: var(--star-height);
    }
  }
}
